<div class="inbox-container body row">
  <div class="sidebar col-5">
    <div class="search-bar">
      <input id="search" [(ngModel)]="searchControl" type="text" placeholder="Search" (keyup)="SearchUser()" />
      <div *ngFor="let user of suggestedUsers">
        <div class="user-info" (click)="createChat(user)">
          <img src="assets/{{user.photoURL}}" class="profile-img" alt="User Profile" />
          <div class="details">
            <span class="name">{{ user.displayName }}</span>

          </div>
        </div>
      </div>
    </div>


    <div class="chat-list">
      <div *ngFor="let chat of AllmyChats1$ | async" class="chat-item">
        <div class="user-info" (click)="openchat(chat)">
          <img src="assets/{{getUserProfilePhoto(chat)}}" class="profile-img" alt="User Profile" />
          <div class="details">
            <span class="name">{{ getUserName(chat) }}</span>
            <span class="status">{{ getUserStatus(chat) }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="user-list">

    </div>
  </div>
  <div class="chat-window col-7">
    <div class="messages" *ngIf="currentChat ;else nochat">
      <div class="messages-header">
        {{ getUserStatus(currentChat) }}
        <img src="assets/{{getUserProfilePhoto(currentChat)}}" class="profile-img" alt="User Profile" />
        <div>{{currentChat.chatName}}</div>
        {{status$}}
        {{incall }}
        <div class="call-btn" *ngIf="userHaveCallID.length == 0 ;else incalll" [ngClass]="{'offline': status$ === 'offline'}">
       
       
  
          <button   (click)="startCall()">Call</button> 
         
      </div>
        <ng-template #incalll>
      you are in a call
    </ng-template>
      
      </div>
  
      <div class="chat-area" #endOfChat  #chatArea  [scrollTop]="scrollPos" id="XX"  (scroll)="sendmsg()" >
  
        <div class="chat-bubble-container"  *ngFor="let msg of messages$" [ngClass]="{'sender': msg.senderId === user.uid}">
          <div class="chat-bubble">
            {{ msg.text }}
          </div>
    
      </div>
      </div>
      <div>
        <form (ngSubmit)="sendMessage()">
          <input type="text" [(ngModel)]="newMessage" name="messageControl">

          <button type="submit">send</button>
        </form>
      </div>
    </div>

    <ng-template #nochat>
      XXXXXXXXXXX
    </ng-template>


  </div>
</div>